<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039300571804-ch390ck2h9b24qo38ff2jt3h5k7rpre2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039300571804-ch390ck2h9b24qo38ff2jt3h5k7rpre2</string>
	<key>API_KEY</key>
	<string>AIzaSyCXAscXUMS1VYnyGy-xBpzBE9q0Z7ow-IA</string>
	<key>GCM_SENDER_ID</key>
	<string>1039300571804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfiredemo</string>
	<key>PROJECT_ID</key>
	<string>fireflutterdemo-68ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>fireflutterdemo-68ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039300571804:ios:40547c367d22c246887359</string>
</dict>
</plist>